    <!--This is Ummm Maybe head-->
<section id = "activities">
    <div class="bg-white">
    <div class="HeadTitle">
      <h1 class="text-center text-6xl font-bold text-[#364871] mt-10 max-lg:text-5xl max-sm:text-4xl" >OUR ACTIVITY</h1>
      <h3 class="text-center text-3xl font-base text-[#E07B6E] mt-3 max-lg:text-3xl max-sm:text-2xl">What us Geeks do!</h3>
    </div>
     <!--The Head is end here-->
     <!--Super BR!!-->
     <div class="my-44 max-sm:my-24"></div>
     <!--Super BR end here XD-->
     <!--This is Content for show >:)-->
<div class="grid grid-cols-2 gap-y-32 gap-x-0 text-center ml-44 mx-10 px-5 mr-44 max-lg:grid-cols-1 max-lg:ml-24 max-lg:mr-20 
            max-md:ml-5 max-md:mr-5 max-md:gap-y-30 max-sm:gap-y-15 max-xl:text-xl max-xl:mx-[100px] " >
    
    <div class="image rounded-3xl order-1 max-md:h-80 max-sm:h-52 max-lg:ml-5 max-2xl:h-[300px] 
    max-xl:h-[250px]">
        <div class="Picture" id="Pic1">
          <img src="resources/images/Activity/hackmyself.png">
        </div>
        <div class="Picture" style="display: none;" id="Pic2">
          <img src="resources/images/Activity/volontarie 1.png"  class="Picture-2 rounded-xl max-md:w-[300px] max-sm:w-[200px] max-xl:w-[250px]">
        </div>
        <div class="Picture" style="display: none;" id="Pic3">
          <img src="resources/images/Activity/GeekInYou.jpg"  class="Picture-3 rounded-xl max-md:w-[300px] max-sm:w-[200px] max-xl:w-[250px]">
        </div>
        <div class="Picture" style="display: none;" id="Pic4">
          <img src="resources/images/Activity/deskcube.png" >
        </div>
    </div>
    <div class="Content-text-1 order-2">
      <div class="text-left text-5xl font-bold text-[#364871] max-sm:text-4xl max-lg:text-center">Camp</div>
        <br>
      <div class="text-[#54586D]">
      <div class="tab flex justify-between flex-wrap">
        <button class="tablinks max-sm:text-base max-[1527px]:text-2xl max-xl:text-xl" onclick="TabsCommand(event, 'tab-content-1', 'Pic1')" id="defaultOpen">HackMySelf</button>
        <button class="tablinks max-sm:text-base max-[1527px]:text-2xl max-xl:text-xl" onclick="TabsCommand(event, 'tab-content-2', 'Pic2')" >Volontarie</button>
        <button class="tablinks max-sm:text-base max-[1527px]:text-2xl max-xl:text-xl" onclick="TabsCommand(event, 'tab-content-3', 'Pic3')" >GeekInU</button>
        <button class="tablinks max-sm:text-base max-[1527px]:text-2xl max-xl:text-xl" onclick="TabsCommand(event, 'tab-content-4', 'Pic4')" >DeskCube</button>
      </div>
        <div class="allcontent ">
            <br>
            <div class="tab_content max-sm:text-base max-lg:text-center max-xl:text-xl max-[1527px]:text-2xl" id="tab-content-1">
            <p>ค่าน HackMySelf เป็นค่ายให้น้องๆ ระดับมัธยมปลายและอุดมศึกษาได้รู้จัก
              ตัวเองเกี่ยวกับด้านไอที ให้ทุกคนได้รู้จักตัวตนที่แท้จริงผ่านแบบทดสอบและกิจกรรม
              ว่าเราเหมาะกับงานใดในสายไอที ทำงานร่วมกับเพื่อนๆใน Workshop และฟังเรื่องราว
              สร้างแรงบันดาลใจด้านไอทีจากผู้เชี่ยวชาญโดยตรง!
            </p>
            </div>
            <div class="tab_content max-sm:text-base max-lg:text-center max-xl:text-lg max-[1527px]:text-2xl" style="display: none;" id="tab-content-2">
            <p>กิจกรรมที่เปิดโอกาสให้พี่ๆจากมหาวิทยาลัยต่างๆได้เข้ามาทำกิจกรรมจิตอาสาให้ความรู้และ
            มุมมองของการทำงานในด้าน IT โดยมีวัตถุประสงค์นอกจากในเรื่องของการทำกิจกรรมจิตอาสาแล้ว 
            ยังเป็นการพัฒนาด้าน Soft skills ของตัวเอง</p>
            </div>
            <div class="tab_content max-sm:text-base max-lg:text-center max-xl:text-lg max-[1527px]:text-2xl" style="display: none;" id="tab-content-3">
            <p>กิจกรรมค่ายออนไซต์สําหรับคนที่มีความสนใจในด้าน IT โดยมีจุดประสงค์ เพื่อเปิดโอกาสให้คนที่สนใจ
            ได้มาทําความเข้าใจเบื้องต้นเกี่ยวกับเทคโนโลยี สาขาวิชาต่างๆ และพัฒนา ทักษะจากกิจกรรม workshop ภายในค่าย</p>
            </div>
            <div class="tab_content max-sm:text-base max-lg:text-center max-xl:text-lg max-[1527px]:text-2xl" style="display: none;" id="tab-content-4">
            <p>ค่ายกิจกรรมออนไลน์ที่จัดขึ้นโดยมีวัดถุประสงค์มุ่งเน้นไปที่การสร้างเสริม 
                และพัฒนาความรู้ทางด้านเทคโนโลยีให้กับเยาวชน โดยตัวกิจกรรมจะเป็นการแบ่งปัน
                ประสบการณ์จากตัวของรุ่นพี่ที่ทำงานในสายงานด้านเทคโนโลยี</p>
            </div>
        </div>
      </div>
    </div>
  <div class="Content-text-2 order-3 max-lg:order-4">
    <div class="text-left text-5xl font-bold text-[#364871] max-sm:text-4xl max-lg:text-center">Volunteer</div>
    <br>
    <div class="text-[#54586D] pr-[50px] max-sm:pr-0">
      <div class="normalcontent max-sm:text-base max-lg:text-center max-xl:text-xl max-[1527px]:text-2xl">
      <p>อาสาสร้างสรรค์งานไอทีเพื่อช่วยเหลือสังคม</p>
      </div>
    </div>
  </div>
  <div class="imageV2 rounded-3xl order-4 max-lg:order-3 max-sm:h-52 max-lg:ml-5 max-xl:h-[200px] max-[431px]:h-[100px]">
    <img src="resources/images/Activity/Volunteer.JPG"class="Picture-4 rounded-xl">
  </div>
  <div class="imageV2 order-5 max-sm:h-52 max-lg:ml-5 max-xl:h-[200px] max-[431px]:h-[100px]">
    <div class="Picture2" id="Pic-1">
      <img src="resources/images/Activity/d-silin.png" class="rounded-3xl">
    </div>
  </div> 
  <div class="Content-text-3 order-6">
  <div class="text-left text-5xl font-bold text-[#364871] max-sm:text-4xl max-lg:text-center">Project</div>
    <br>
  <div class="text-[#54586D]">
  <div class="tab flex flex-row flex-wrap -ml-5">
    <a href="https://dseelinth.com/" target="_blank" class="tablinks2 max-sm:text-base max-xl:text-lg max-[1527px]:text-2xl">D. Seelin</a>
    <a href="https://dh2x6bccvt0un.cloudfront.net/" target="_blank" class="tablinks2 max-sm:text-base max-xl:text-lg max-[1527px]:text-2xl">Youth-Plus</a>
  </div>
    <div class="allcontent2">
        <br>
        <div class="tab_content2 max-sm:text-base max-lg:text-center max-xl:text-xl max-[1527px]:text-2xl" id="tab-content1">
        <p>การทำโปรเจคเป็นการให้คนภายในชมรมได้ลงมือทำกับ
          โปรเจคจริงๆ มุ่งฝึกฝน Hard Skill ที่สามารถนำไปต่อยอด
          ได้จริงและสามารถทำงานเป็นทีมได้     
        </p>
        </div>
    </div>
  </div>
</div>
  <div class="Content-text-4 order-7 max-lg:order-8">
    <div class="text-left text-5xl font-bold text-[#364871] max-sm:text-3xl max-lg:text-center">Training & Daily Routine</div>
    <br>
    <div class="text-[#54586D] pr-[50px] max-sm:pr-0">
    <div class="normalcontent max-sm:text-base max-lg:text-center max-xl:text-xl max-[1527px]:text-2xl">
      <p>กิจกรรมภายในชมรมเองก็มีให้ฝึกเราในด้าน Soft Skill กับกิจกรรมอย่าง 
        No Time To Relax และก็ยังมีการฝึก Hard Skill ด้วยการทำเว็บไซต์ด้วยกิจกรรม 
        Let Us Geek รวมถึงกิจวัตรประจำวัน ให้ทุกคนได้พักใจกันอย่างมี ประสทิธิภาพด้วยการ Set Zero     
      </p>
      </div>
    </div>
  </div>
  <div class="imageV3 rounded-3xl order-8 max-lg:order-7 max-lg:h-96  max-sm:h-52 max-lg:ml-5 max-[431px]:h-[100px]">
    <div class="Picture2" id="Pic-1">
      <img src="resources/images/Activity/notimetorelax.png" class="Picture-5 rounded-3xl">
    </div>
  </div>
  <!--Super BR!!-->
  <!--Super BR end here XD-->
</div>
<div class="my-44"></div>

</div>
     <!--This is Content end here T_T >:)--> 
</section>
