<section class="Vision-Box font-bold grid grid-cols-2 w-[100%] bg-white h-[800px] items-center 
max-[1137px]:h-[700px] max-[950px]:h-[400px] max-[632px]:grid-cols-1 max-[632px]:h-[600px] 
" id = "about-us">
  <div class="Vision-text order-1 max-[632px]:order-2">
  <h1 class=" text-right text-5xl text-[#364871]  
  max-[1575px]:text-4xl max-[1137px]:text-3xl max-[950px]:text-2xl max-[758px]:text-xl
  max-[632px]:text-center max-[632px]:text-2xl">
        "ศูนย์รวมกลุ่มคนที่สร้างสรรค์งานและ 
            <br>   
            <br>
           กิจกรรมทางเทคโนโลยี เพื่อสร้าง
            <br>
            <br>  
                       สิ่งดีๆให้กับสังคม" 
    </h1>
  </div>
  <div class="Vision-image order-2 max-[632px]:order-1 flex max-[632px]:justify-center">

    <img src="/goodgeek-website/resources/images/vision-image.png" class="  -mt-0  w-[600px] 
    max-[1575px]:w-[500px] max-[1137px]:w-[400px] max-[950px]:w-[300px] " >
  </div>
</section>